@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />
@using (Html.BeginForm(new { @class = "claim-job-form" }))
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    <h4>@Model.Title</h4>
    <input type="submit" value="Claim This Job" />
}

@*<form action="Claim" class="new-destination">
    <label for="newCity">City: </label>
    <input type="text" name="newCity" />
    <label for="newCountry">Country: </label>
    <input type="text" name="newCountry" />
    <button type="submit">Submit</button>
</form>*@

<p>@Html.ActionLink("Back to list", "Index")</p>