@{
    ViewBag.Title = "All Listings";
}

<div class="text-center">
    <h3>Our Current Jobs</h3>

    <a href="/Jobs/Create" class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">add</i>
    </a>

</div>

<div class="job-listings-container">
    @foreach (var job in Model["jobs"])
    {
        @if (!job.Completed)
        {
            <div class="card job-card">
                <div class="listing-header">
                    <span class="card-title">@job.Title</span>
                    @if (job.Worker == null)
                    {
                        <div class="chip">
                            This Job is unclaimed
                        </div>
                    }
                    else
                    {
                        <div class="chip">
                            This Job is claimed by @job.Worker.FirstName @job.Worker.LastName
                        </div>

                    }
                    <hr />
                </div>
                    

                <div class="card-content">
                    <p class="description"><strong>Description:</strong> @job.Description</p>
                </div>

                <div class="card-action">
                    @if (job.Worker == null && Model["worker"] != null)
                    {
                        <button value="@job.JobId" type="submit" class="claim-job btn waves-effect waves-light">Claim This Job</button>
                        <h6 class="claimed-@job.JobId"></h6>
                    }
                </div>
            </div>
        }
    }
</div>

