<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var job in Model["jobs"])
{
    @if (!job.Completed)
    {
        <ul>
            <li>@job.Title</li>

            <ul>
                <li>@job.Description</li>
            </ul>

            @if (job.Worker == null)
            {
                <li class="btn">
                    This Job is unclaimed.

                    @if (Model["worker"] != null)
                    {
                        @Html.ActionLink("Claim This Job", "Claim", new { @text = @job.Title, id = job.JobId })
                    }
                </li>
            }
            else
            {
                <li class="btn">This Job is claimed by @job.Worker.FirstName @job.Worker.LastName</li>
            }
        </ul>
    }
}
