<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var job in Model["jobs"])
{
    <ul>
        <li>@job.Title</li>

        <ul>
            <li>@job.Description</li>
        </ul>

        @if (job.Worker == null && !job.Completed)
        {
            <li class="btn">
                This Job is unclaimed.
                
                @if (Model["worker"] != null)
                {
                    @Html.ActionLink("Claim This Job", "Claim", new { @text = @job.Title, id = job.JobId })
                }
            </li>
        }
        else if (job.Completed)
        {
            <li class="btn">This job is already completed</li>
        }
        else
        {
            <li class="btn">This Job is claimed by @job.Worker.FirstName @job.Worker.LastName</li>
        }
    </ul>


    <hr />
}

